[defaults]
inventory         = inventory/hosts.yml
remote_user       = ubuntu
private_key_file  = /root/.ssh/padmasree.pem   # ← change to your key name
host_key_checking = True
roles_path        = roles

[ssh_connection]
# Ansible SSHs through bastion to reach private Jenkins EC2
# No manual login needed - ansible handles this automatically
ssh_args = -o "ProxyCommand=ssh -i /root/.ssh/padmasree.pem -W %h:%p ubuntu@3.239.187.60" -o StrictHostKeyChecking=yes
