[defaults]
inventory         = inventory/hosts.yml
remote_user       = ubuntu
private_key_file  = ~/.ssh/padmasree.pem   # ← change to your key name
host_key_checking = True
roles_path        = roles

[ssh_connection]
# Ansible SSHs through bastion to reach private Jenkins EC2
# No manual login needed - ansible handles this automatically
ssh_args = -o ProxyJump=ubuntu@3.239.187.60 -o StrictHostKeyChecking=yes -i ~/.ssh/padmasree.pem
